body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 30px;
}

.section-block {
  border: 1px solid grey;
  box-shadow: inset 0 40px 20px silver;
  border-radius: 10px;
  width: 100%;
  padding: 0px 10px 20px 10px;
  margin-bottom: 20px;
}

.section-block-title {
  text-align: left;
  margin: 20px 0 10px 30px;
}

.sticky-note {
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 250px;
  background-color: pink;
  box-shadow: 3px 2px 1px grey;
}

.sticky-note-title {
  margin: 5px 0;
  position: inherit;
}

#cross-icon {
  width: 20px;
  position: relative;
  display: flex;
  left: 110px;
  top: 0px;
  
}
